body {
  background-color: black;
}

.navbar {
  position: relative;
  background-color: rgb(4, 211, 201);
  border-radius: 10px;
  padding: 2px;
  top: 5px;
  left: 5px;
  right: 5px;
}

#navbarTogglerDemo03 {
  position: absolute;
  right: 3px;
}

.navbar-brand {
  position: absolute;
  left: 3px;
  text-decoration: none;
  color: black;
}
