body {
  background-color: black;
}

.navbar {
  background-color: rgb(41, 194, 186);
  border-radius: 10px;
  color: aliceblue;
}

.navbar-brand {
  text-decoration: none;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
}

.lottierow {
  display: flex;
  left: 10%;
  right: 10%;
}

.lottie {
  align-items: center;
  margin-left: 20%;
  position: relative;
}

.start-button {
  margin: 3cm;
  border-radius: 7px;
  height: 100px;
  width: 400px;
  font-size: 1cm;
  bottom: 2px;
  background-color: transparent;
  color: aliceblue;
}

.container {
  height: auto;
}

.container h2 {
  color: white;
}

.Report-form {
  color: aliceblue;
}
